{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Zelada Registry</title>
    <style>
        html {
            font-family: sans-serif;
            background-color: #CA99D4;
            color: #fff;
            background-image: url("{% static 'images/background.jpg' %}");
        }

        body {
            max-width: 980px;
            margin: 6rem auto;
        }

        a {
            color: #fff;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href="{% url 'item_list' %}">Baby Zelada Registry</a></h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>
