{% extends "base.html" %}
{% load math_filters %}

{% block content %}
{% for category in categories %}
<h2>{{ category.name }}</h2>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Needed</th>
            <th></th>
        </tr>
    </thead>
    {% for item in category.item_set.all %}
    <tr>
        {% if item.link %}
            <td width="300px"><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></td>
        {% else %}
            <td width="300px">{{ item.name }}</td>
        {% endif %}

        <td width="100px">
            {% if item.price %}
                ${{ item.price }}
            {% endif %}
        </td>

        {% if item.quantity_desired|subtract:item.num_gifts > 0 %}
            <td width="100px">Missing {{ item.quantity_desired|subtract:item.num_gifts }}</td>
            <td width="150px"><a class="button" href="{% url 'create_gift' %}?item_id={{ item.id }}">I bought this</a></td>
        {% else %}
            <td></td>
            <td>Done!</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}
