{% extends "base.html" %}
{% load math_filters %}

{% block content %}
<style>
.category {
}

.items {
  display: grid;
  gap: 20px;
}

@media (min-width: 300px) {
  .items { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 500px) {
  .items { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 750px) {
  .items { grid-template-columns: repeat(4, 1fr); }
}

.item {
  border: 1px solid white;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.photo img {
    width: 100%;
}

.name {
}

.price {
}

.missing {
}

.buy {
}

</style>

<h2>Thank you for checking out our registry!</h2>
<p>Please ship items directly to our home. Reach out if you need our address, or have any issues entering a gift you bought.</p>
<p><b>We'd LOVE your hand-me-downs!</b> Rather than buying us something new, we'd be delighted to receive used items in good condition (even if it's not the exact brand/type listed below).</p>

{% for category in categories %}
<div class="category">
<h2>{{ category.name }}</h2>
<div class="items">
    {% for item in category.item_set.all %}
    <div class="item">
        <div class="photo">
            {% if item.photo %}
                <a href="{{ item.photo }}" target="_blank"><img src="{{ item.photo }}"></a>
            {% endif %}
        </div>

        <div class="name">
            {% if item.link %}
                <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
            {% else %}
                {{ item.name }}
            {% endif %}
        </div>

        <div class="price">
            {% if item.price %}
                ${{ item.price }}
            {% endif %}
        </div>

        {% if item.quantity_desired|subtract:item.num_gifts > 0 %}
            <div class="missing">Missing {{ item.quantity_desired|subtract:item.num_gifts }}</div>
            <div class="buy"><a class="button" href="{% url 'create_gift' %}?item_id={{ item.id }}">I bought this</a></div>
        {% else %}
            <div class="missing"></div>
            <div class="buy">Done!</div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
